body {
  color: #333;
}

.disabled {
  color: #ccc !important;
  pointer-events: none;
}

.ts-avg {
  fill: none;
  stroke: #8889a0;
  stroke-width: 1.2px;
}
.ts-median {
  stroke: #696996;
  shape-rendering: crispEdges;
}
.ts-median-2 {
  fill: none;
  stroke: #81a3a5;
  stroke-width: 1.2px;
}
.ts-min-max {
  fill: #f4f6fb;
  shape-rendering: crispEdges;
}
.ts-iqr {
  fill: #e1e7f5;
  shape-rendering: crispEdges;
}
.ts-overlay {
  fill: transparent;
  shape-rendering: crispEdges;
}

.gridline {
  shape-rendering: crispEdges;
  stroke: #ddd;
}
.gridline-primary {
  stroke: #333;
}

/*
 * Selected states
 */

.ts-avg.selected {
  stroke-opacity: 1 !important;
  stroke: #885e5e;
  stroke-width: 2px;
}
.selected .ts-avg,
.selected .ts-median {
  stroke: #885e5e;
}
.selected .ts-iqr {
  fill: #e8d8d8;
}
.selected .ts-min-max {
  fill: #f5f1f1;
}

/*
 * Axes
 */

.axis text {
  font-size: 0.75rem;
}

.ts-x-label {
  text-anchor: middle;
  font-size: 0.75rem;
  font-weight: 500;
  fill: #333;
}

/*
 * Forms
 */

.uk-button.btn {
  color: #5266ec;
  background: #fff;
  border: 1px solid #5266ec;
  text-transform: none;
  border-radius: 4px;
}
.uk-button.btn:hover {
  color: #3751ff;
  border-color: #3751ff;
  box-shadow: 0px 0px 2px 2px #dde2ff;
}

.uk-button.btn-lg {
  border-radius: 8px;
  border: 1px solid #dfe0eb;
  text-transform: none;
  line-height: 1.5;
  color: #000;
  background: #fff;
  box-shadow: 0px 0px 2px 2px rgb(221 226 255 / 0%);
  transition: all 180ms ease-in-out;
}
.uk-button.btn-lg:hover,
.uk-button.btn-lg.active {
  color: #3751ff;
  border-color: #3751ff;
  box-shadow: 0px 0px 2px 2px #dde2ff;
  background: #fff;
}

.uk-input,
.uk-select {
  border-radius: 4px !important;
}
